<!DOCTYPE HTML>

<html>
<head>
    <title>Hospital Admin Control</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="view/assets/css/main.css"/>
    <link rel="stylesheet" href="view/assets/sweetalert2/buttons.css"/>
    <link rel="stylesheet" href="view/assets/sweetalert2/sweetalert2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css"/>
    <link rel="stylesheet" href="view/assets/chosen_v1.7.0/chosen.min.css" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="view/assets/css/ie9.css"/><![endif]-->
    <noscript>
        <link rel="stylesheet" href="view/assets/css/noscript.css"/>
    </noscript>
</head>
<body ng-app="">


<!-- Wrapper -->
<div id="wrapper">

<!-- HeadSectionDl BEGIN -->
<div id="languages">
    <a href="controlPanel.php?lang=ar"><img src="view/images/ar.png" /></a>
    <a href="controlPanel.php?lang=en"><img src="view/images/en.png" /></a>
</div>
<!-- HeadSectionDl END -->

<div>
    <img src="view/images/banner.png"/>
</div>

<!-- Header -->
<header id="header">

    <!--<div class="logo">-->
    <!--<span class="icon fa-diamond"></span>-->
    <!--&lt;!&ndash; <img src="images/fci.png" /> &ndash;&gt;-->
    <!--</div>-->

    <div>
        <nav>
            <ul>
                <li><a href="#profile">Profile</a></li>
                <li><a href="logout.php">Logout</a></li>
            </ul>
        </nav>

    </div>

    <div class="content">
        <div class="inner">
            <div class="field">
                <div class="table-wrapper">
                    <div id="refresh_dep">
                        <div id="refreshDep">
                            <?php

                            //to show department
                            $departmentsModel = new departmentsModel();
                            $alldeps = $departmentsModel->
                            getDepartmentsByHospital($_SESSION['hos_id']);
                            if($alldeps == "" || $alldeps == null){
                            echo "<h1>It's your first visit</h1><h2>Please add some departments</h2>";
                            }else{
                            ?>
                            <table>
                                <thead>
                                <tr>
                                    <th><h3>Department</h3></th>
                                    <th><h3>Total Beds</h3></th>
                                    <th><h3>Available Beds</h3></th>
                                    <th><h3>Options</h3></th>
                                </tr>
                                </thead>
                                <tbody>


                                <?php
                                foreach($alldeps as $row)
                                {
                                ?>
                                <tr>
                                    <td><h3><?php echo $row['name'];?></h3></td>
                                    <td><h3 id="total_beds_val<?php echo $row['dep_id'];?>"><?php echo $row['total_beds'];?></h3></td>
                                    <td>
                                        <h3 id="freebeds_val<?php echo $row['dep_id'];?>"><?php echo $row['free_beds'];?></h3>
                                    </td>
                                    <td>
                                        <input type='button' class="edit_button"
                                               id="edit_button<?php echo $row['dep_id'];?>" value="edit"
                                               onclick="edit_row(<?php echo $row['dep_id'];?>);">
                                        <input type='button' class="save_button"
                                               id="save_button<?php echo $row['dep_id'];?>" value="save"
                                               onclick="save_row(<?php echo $row['dep_id'];?>);"
                                               style='display: none'>
                                    </td>
                                </tr>
                                <?php
                                                    }
                                                    ?>


                                </tbody>

                            </table>
                            <?php
                            }
                            ?>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#Departments">Departments</a></li>
            <li><a href="#Hospital">Hospital</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- Main -->
<div id="main">

    <!-- Edit Departments Info -->
    <article id="Departments">
        <h2 class="major">Departments</h2>

        <div class="field">
            <div class="table-wrapper">
                <div id="editDep">
                    <table id="user_table">
                        <thead>
                        <tr>
                            <th><h3>Department</h3></th>
                            <th><h3>Total Beds</h3></th>
                            <th><h3>Options</h3></th>
                        </tr>
                        </thead>
                        <tbody>


                        <?php
                            if($alldeps == "" || $alldeps == null){
                            echo "<h1>It's your first visit</h1><h2>Please add some departments</h2>";
                        }else{
                        foreach($alldeps as $row)
                        {
                        ?>
                        <tr id="row<?php echo $row['dep_id'];?>">
                            <td><h3 id="name_val<?php echo $row['dep_id'];?>"><?php echo $row['name'];?></h3></td>
                            <td><h3 id="totalbeds_val<?php echo $row['dep_id'];?>"><?php echo $row['total_beds'];?></h3>
                            </td>
                            <td align="center" width="36%">
                                <input type='button' class="edit_button"
                                       id="edit_but<?php echo $row['dep_id'];?>" value="edit"
                                       onclick="edit_dep(<?php echo $row['dep_id'];?>);">
                                <input type='button' class="save_button"
                                       id="save_but<?php echo $row['dep_id'];?>" value="save"
                                       onclick="save_dep(<?php echo $row['dep_id'];?>);" style='display: none'>
                                <input type='button' class="delete_button special"
                                       id="delete_but<?php echo $row['dep_id'];?>" value="delete"
                                       onclick="delete_dep(<?php echo $row['dep_id'];?>);">
                            </td>
                        </tr>
                        <?php
                                                    }}
                                                    ?>
                        <tr id="new_row">
                            <td><input type="text" id="new_name" title="Alphabetical only"></td>
                            <td><input type="number" id="new_totalbeds" min="1"></td>
                            <td><input type="button" value="Add Department" onclick="add_dep();"></td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </article>

    <!-- Edit Hospital Info -->
    <article id="Hospital">
        <h2 class="major">Hospital</h2>
        <form id='hospitalEdit'>
            <?php
                            //to show hospital
                            $hospitalModel = new hospitalModel();
                            $hospital = $hospitalModel->getHospital($_SESSION['hos_id']);

            $name = $hospital['name'];
            $phone = $hospital['phone'];
            $address = $hospital['address'];
            echo "

            <div class='field'>
                Name
                <input type='text' name='name' id='hosname' value='$name'/>
            </div>
            <br>

            <div class='field'>
                Phone
                <input type='text' name='phone' id='hosphone' value='$phone'/>
            </div>
            <br>

            <div class='field'>
                Address
                <input type='text' name='address' id='hosaddress' value='$address'/>
            </div>
            <br>


            <ul class='actions'>
                <li><input type='submit' name='submit' value='Submit Edit' class='special'/></li>
            </ul>

        ";
            ?>
        </form>

    </article>

    <!-- About -->
    <article id="about">
        <h2 class="major">About</h2>
        <span class="image main"><img src="" alt=""/></span>

        <p>A huge number of life threatening conditions usually lose their lives during the search for empty places in
            the intensive care units. Therefore, knowing the available places in the intensive care unit in different
            hospitals will decrease such number of deaths and will decrease the estimated time to reach such unit.</p>
    </article>

    <!-- Contact -->
    <article id="contact">
        <h2 class="major">Contact</h2>

        <form id="feedback">
            <div class="field half first">
                <label>Name</label>
                <input type="text" name="name" required="" />
            </div>
            <div class="field half">
                <label>Email</label>
                <input type="text" name="email" title="Optional" placeholder="You may leave it blank" />
            </div>
            <div class="field">
                <label>Message</label>
                <textarea name="message" required="" placeholder="Let us know how we can improve" rows="4"></textarea>
            </div>

            <ul class="actions">
                <li><input type="submit" value="Send Message" class="special" /></li>
                <li><input type="reset" value="Reset" /></li>
            </ul>
            <!-- voting markup -->
            <div style="float: inherit">
                <label>What do you think About us</label>
                <div class="voting_wrapper" id="voting">
                    <div class="voting_btn">
                        <div class="up_button">&nbsp;</div><span class="up_votes">0</span>
                    </div>
                    <div class="voting_btn">
                        <div class="down_button">&nbsp;</div><span class="down_votes">0</span>
                    </div>
                </div>
            </div>
            <!-- voting markup end -->
        </form>


        <label>Follow us here!</label>
        <ul class="icons">
            <li><a href="https://twitter.com/SupportIcu" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/ICUINDEX/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://plus.google.com/u/2/102309171787413177826" class="icon fa-google"><span class="label">Google+</span></a></li>
        </ul>
    </article>

    <!-- Profile -->
    <article id="profile">
        <h2 class="major">Profile</h2>
        <?php
                                $name = $_SESSION['name'];
                                $email = $_SESSION['email'];
                                $phone = $_SESSION['phone'];
                                $address = $_SESSION['address'];
                                $sec_q = $_SESSION['sec_q'];
                                $sec_q_a = $_SESSION['sec_q_a'];

                                echo "  <div class='field'>
        Name
        <input type='text' name='name' id='prname' value='$name'/>
</div>
<br>

<div class='field'>
    Email
    <div class='popup'><span class='popuptext' id='premailpopup'>Please Enter a Valid Email</span></div>
    <input type='text' name='email' id='premail' value='$email'/>
</div>
<br>

<div class='field'>
    Phone
    <input type='text' name='phone' id='prphone' value='$phone'/>
</div>
<br>

<div class='field'>
    Address
    <input type='text' name='address' id='praddress' value='$address'/>
</div>
<br>

<div class='field'>
    Security Question
    <div class='select-wrapper'>
        <select name='sec_q' id='prsec_q' required=''>
            <option value='$sec_q'>leave it unchanged if you already selected once</option>
            <option value='1'>What is the name of your favorite childhood friend?</option>
            <option value='2'>What is the middle name of your oldest child?</option>
            <option value='3'>What is your favorite team?</option>
            <option value='4'>What was your favorite food as a child?</option>
            <option value='5'>What was the make and model of your first car?</option>
            <option value='6'>What was the name of the hospital where you were born?</option>
            <option value='7'>What school did you attend for sixth grade?</option>
            <option value='8'>In what town was your first job?</option>
            <option value='9'>What was the name of the company where you had your first job?</option>
        </select>
    </div>
</div>
<br>

<div class='field'>
    Answer
    <input type='text' name='sec_q_a' id='prsec_q_a' value='$sec_q_a'/>
</div>
<br>

<div class='field'>
    Old Password
    <input type='password' name='pass' id='propass'/>
</div>
<br>

<div class='field'>
    New Password
    <input type='password' name='pass' id='prnpass'/>
</div>
<br>

<div class='field half first'>
    Confirm New Password
    <input type='password' name='pass' id='prcpass'/>
</div>
<br>
<ul class='actions'>
    <li><input type='submit' value='Submit Edit' id='profileEdit' class='special'/></li>
</ul>
"; ?>

</article>

</div>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Developed By The A-Team, Zagazig University - Faculty of computer sceince & IT.</p>
</footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="view/assets/js/angular.min.js"></script>
<script src="view/assets/js/jquery.min.js"></script>
<script src="view/assets/js/skel.min.js"></script>
<script src="view/assets/js/util.js"></script>
<script src="view/assets/js/main.js"></script>
<script src="view/assets/sweetalert2/sweetalert2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.jquery.min.js"></script>
<script src="view/assets/chosen_v1.7.0/chosen.jquery.min.js"></script>
<script src="view/assets/js/adminAjax&validation.js"></script>
</body>
</html>
